@define-color mchr0 #000000;
@define-color mchr1 #454545;
@define-color mchr2 #858585;
@define-color mchr3 #c7c7c7;
@define-color mchr4 #e1e1e1;
@define-color mchr5 #f3f3f3;

@define-color accent1 #F5959F;
@define-color accent2 #E95274;
@define-color accent3 #E84F56;
@define-color accent4 #A24544;
@define-color accent5 #C4C9FC;
@define-color accent6 #8FB6E8;
@define-color accent7 #F4D177;
@define-color accent8 #F6DE29;

@define-color bg #343434;
@define-color fg #b2b2b2;

* {
  all: unset;
}

popover {
  background: alpha(@bg, 0.9);
  border: 0px;
  border-radius: 20px;
  padding: 10px;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

scrollbar {
  opacity: 0;
}

.box-wrapper {
  box-shadow:
    0 20px 40px rgba(26, 26, 26, 0.93),
    0 8px 16px rgba(26, 26, 26, 0.75);
  background: alpha(@bg, 0.9);
  padding: 20px;
  border-radius: 20px;
  border: 0px;
}

.preview-box,
.elephant-hint,
.placeholder {
  color: @fg;
}

.box {
}

.search-container {
  border-radius: 15px;
}

.input placeholder {
  opacity: 0.3;
}

.input selection {
  background: @mchr1;
    color: @accent2;
}

.input {
  caret-color: @fg;
  background: @mchr1;
  padding: 15px;
  color: @fg;
}

.input:focus,
.input:active {
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
  color: @fg;
}

child {
}

.item-box {
  border-radius: 20px;
  padding: 10px;
}

.item-quick-activation {
  background: transparent;
    border: 1px solid @accent5;
  border-radius: 10px;
  padding: 10px;
}

/* child:hover .item-box, */
child:selected .item-box,
row:selected .item-box {
  background: alpha(@mchr2, 0.1);
}

.item-text-box {
}

.item-subtext {
  font-size: 12px;
  opacity: 0.5;
}

.providerlist .item-subtext {
  font-size: unset;
  opacity: 0.75;
}

.item-image-text {
  font-size: 28px;
}

.preview {
  border: 1px solid alpha(@accent5, 0.25);
  /* padding: 10px; */
  border-radius: 20px;
  color: @fg;
}

.calc .item-text {
  font-size: 24px;
}

.calc .item-subtext {
}

.symbols .item-image {
  font-size: 24px;
}

.todo.done .item-text-box {
  opacity: 0.25;
}

.todo.urgent {
  font-size: 24px;
}

.todo.active {
  font-weight: bold;
}

.bluetooth.disconnected {
  opacity: 0.5;
}

.preview .large-icons {
  -gtk-icon-size: 64px;
}

.keybinds {
  padding-top: 10px;
  border-top: 1px solid lighter(@bg);
  font-size: 12px;
  color: @fg;
}

.global-keybinds {
}

.item-keybinds {
}

.keybind {
}

.keybind-button {
  opacity: 0.5;
}

.keybind-button:hover {
  opacity: 0.75;
}

.keybind-bind {
  text-transform: lowercase;
  opacity: 0.35;
}

.keybind-label {
  padding: 2px 4px;
  border-radius: 8px;
  border: 1px solid @accent5;
}

.error {
  padding: 10px;
  background: @accent3;
  color: @accent4;
}

:not(.calc).current {
  font-style: italic;
}

.preview-content.archlinuxpkgs,
.preview-content.dnfpackages {
  font-family: monospace;
}
