discord/Cache/*
nvim/doc/tags
discord/Code Cache/*
discord/DawnGraphiteCache/*
discord/DawnWebGPUCache/*
discord/GPUCache/*
discord/component_crx_cache/*
zsh/.zhistory
zsh/.zcompdump
images/hyprlock_wallpaper.png
images/hyprlock_wallpaper2.png
images/hyprlock_wallpaper3.png
nvim/lazy-lock.json
spicetify/config-xpui.ini
