--mchr0: #000000;
--mchr1: #454545;
--mchr2: #858585;
--mchr3: #c7c7c7;
--mchr4: #e1e1e1;
--mchr5: #f3f3f3;

--accent1: #F5959F;
--accent2: #E95274;
--accent3: #E84F56;
--accent4: #F5959F;
--accent5: #C4C9FC;
--accent6: #8FB6E8;
--accent7: #F4D177;
--accent8: #F6DE29;

--bg: #343434;
--fg: #b2b2b2;
