/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Rofi Theme File
 * Rofi Version: 1.7.3
 **/

/*****----- Configuration -----*****/
configuration {
    show-icons:                 false;
}

* {
    mchr0: #000000;
    mchr1: #454545;
    mchr2: #858585;
    mchr3: #c7c7c7;
    mchr4: #e1e1e1;
    mchr5: #f3f3f3;

    accent1: #F5959F;
    accent2: #E95274;
    accent3: #E84F56;
    accent4: #A24544;
    accent5: #C4C9FC;
    accent6: #8FB6E8;
    accent7: #F4D177;
    accent8: #F6DE29;

    bg: #343434E0;
    fg: #b2b2b2;
}

/*****----- Global Properties -----*****/
@import "~/.cache/wal/colors-rofi-dark.rasi"

/*****----- Main Window -----*****/
window {
    /* properties for window widget */
    transparency:                "real";
    width:                       750px;
    dynamic: true;

    /* properties for all widgets */
    enabled:                     true;
    margin:                      0px;
    padding:                     0px;
    border:                      0px;
    border-radius:               20px;
    cursor:                      "default";
    background-color:            @bg;
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                     true;
    spacing:                     15px;
    margin:                      0px;
    padding:                     30px;
    border:                      0px;
    border-radius:               20px;
    background-color:            transparent;
    children:                    [ "listview" ];
}

/*****----- Listview -----*****/
listview {
    columns:                     5;
    lines:                       1;
    layout:                      vertical;
    fixed-height:                true;
    fixed-columns:               true;

    spacing:                     15px;
    margin:                      0px;
    padding:                     0px;
    border:                      0px;
    border-radius:               0px;
    background-color:            transparent;
    text-color:                  @fg;
    cursor:                      "default";
}

/*****----- Elements -----*****/
element {
    enabled:                     true;
    spacing:                     0px;
    margin:                      0px;
    padding:                     40px 10px;
    border-radius:               20px;
    text-color:                  @fg;
    cursor:                      pointer;
}
element-text {
    font:                        "Mononoki Nerd Font 24";
    background-color:            transparent;
    text-color:                  inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.5;
}

element.normal.normal {
  background-color: transparent;
}

element.alternate.normal {
  background-color: transparent;
}

element selected.normal {
    background-color:            @mchr1;
}
