/* the config was heavily inspired by this one, go check them out https://www.reddit.com/r/unixporn/comments/1n7enhc/hyprland_second_linux_rice/#lightbox */

/* variables */
@define-color background rgb(19, 18, 41);
@define-color background2_L rgba(17, 132, 163, 0.4);
@define-color background2_R rgba(146, 56, 82, 0.4);
@define-color main1 #1184a3;
@define-color main2 #923852;
@define-color text #FFFFFF;
@define-color urgent1 #7de8f4;
@define-color urgent2 #ff4a43;


* {
    font-family: "Hack Nerd Font";
    font-size: 16px;
    transition-property: background-color;
    transition-duration: .5s;
}

#custom-openbracket,
#custom-closebracket{
    margin: 0 5px ;
}

/* default stuff */
window#waybar {
    background-color: transparent;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
    border: 2px solid transparent;
    background-image: 
      linear-gradient(#131229, #131229),
      linear-gradient(120deg, #1184a3, #1184a3, #923852, #923852);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}
window#waybar.hidden {
    opacity: 0.2;
}
window#waybar.empty #window {
    background-color: transparent;
}

/* modules style */
.modules-left {
    margin: 0 0 0 0;
    padding: 0 0 0 7px;
    border-radius: 5px;
}
.modules-center {
    margin: 0 0 0 0;
    padding: 0 10px 0 10px;
    border-radius: 5px;
}
.modules-right {
    margin: 0 0 0 0;
    padding: 0 10px 0 10px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* workspaces */
button:hover {
    background-color: @background2;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @text;
}

#workspaces button:hover {
    background-color: #18172d;
    background: none;
    border: none;
    box-shadow: none;
    outline: none;   
    transition: none;
}

#workspaces button.active {
    color: @text;
    font-weight: bold;
    text-shadow:
        0 0 5px @main1,
        0 0 10px @main1,
        0 0 15px @main1;
}

#workspaces button.urgent {
    background-color: @main1;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* window */
#window{
    background-color: rgba(0, 0, 0, 0);
    padding-right: 7px;
    padding-left: 7px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* util */
#clock {
    margin: 0px;
    padding: 0px 10px;
}
#cpu,
#memory,
#temperature {
    padding: 0px 5px;
}
#network,
#battery,
#custom-swaync {
    padding: 0 10px;
    margin: 0px;
    border-radius: 10px;
}
#network {
    padding: 0 10px 0 4px;
}
#pulseaudio {
    padding: 0 10px;
    border-radius: 10px;
}
#pulseaudio:hover {
    background-color: @background2_L;
}
#network:hover {
    background-color: @background2_R;
}

/* separators */
#custom-Left,
#custom-Right {
    margin: 0 5px;
}
#custom-sep {
    padding: 0 5px 1px;
}

/* battery */
@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* custom */
#custom-swaync:hover {
    background-color: @background2_L;
}
#custom-power{
    padding: 0 4px 0 0;
    margin: 0 4px;
    border-radius: 10px;
}
#custom-power:hover {
    background-color: @background2_R;
}
#custom-media {
    margin: 0 5px;
    padding: 0 10px;
    border-radius: 10px;
    min-width: 40px;
}
#custom-media:hover {
    background-color: @background2_L;
}

/* power profiles daemon */
#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

/* privacy */
/* #privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
} */
